/*font-family: 'Source Sans Pro', sans-serif;*/

/*Color-main : #253858, color-regular: #253858, color-section: #E64E4E, color-main-light: #42526E à 60%*/

body {
    /*background: red;*/
    display: inline-block;
    margin: 0 auto;
    margin-left: 10%;
    color:  #253858;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: #253858;
}

h3 {    
    font-family: 'Open Sans Condensed', sans-serif;
}   

h4 {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #E64E4E;
    padding: 0px 0 0px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

hr {
    opacity: 0.1;
    border: 1px solid #42526E ;
    margin-bottom: 25px;
}

#top-right hr {
    margin-top: auto;
}

img {
    height: auto;
    width: 600px;

}

#top-left {
    /*background: yellow;*/
    margin: 0 auto;
    float: left;
    height: auto;
    width: 750px;
}

div#top-left {
    border-right: 1px solid rgba(66, 82, 110, 0.1);
}

.date-publication {
    opacity: 0.6;
    color:  #42526E;
    font-size: 12px;
}

#top-right {
    /*background: purple;*/
    margin: 0 auto;
    float: right;
    height: auto;
    width: 400px;
}

.header {
    display: inline-block;
    margin-left: 20px;
}

a.header {
    margin-left: 30%;
}

#top-right table {
    border: 1px;
    border-spacing: 25px;
}

.heure {
    font-family: 'Source Sans Pro', sans-serif;
    vertical-align: top;
    font-size: 16px;
}

/*#bottom-left {
    background: gray;
    float: left;
    margin-right:25%;
    display: table;
    }*/

    .frame img {
        height: autp;
        width: 320px;
    }

    #bottom-left .row {
        display: table-row;
    }

    #bottom-left .row .cell {
        display: table-cell;
    }

    .frame {
        margin: 0 auto;
        float: left;
        width: 350px;
    }

