/*font-family: 'Source Sans Pro', sans-serif;*/

/*Color-main : #253858, color-regular: #253858, color-section: #E64E4E, color-main-light: #42526E à 60%*/

body {
    /*background: red;*/
    display: inline-block;
    margin: 0 auto;
    margin-left: 10%;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #253858;
}
h3 {

}   

h4 {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ea212d;
    padding: 0px 0 0px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

img {
    height: auto;
    width: 600px;

}

#top-left {
    /*background: yellow;*/
    margin: 0 auto;
    float: left;
    height: auto;
    width: 750px;
}

#top-right {
    /*background: purple;*/
    margin: 0 auto;
    float: right;
    height: auto;
    width: 400px;
}

.header {
    display: inline-block;
    margin-left: 20px;
}

a.header {
    margin-left: 30%;
}

#top-right table {
    border: 1px;
    border-spacing: 25px;
}

.heure {
    font-family: 'Source Sans Pro', sans-serif;
    vertical-align: top;
    font-size: 16px;
}

/*#bottom-left {
    background: gray;
    float: left;
    margin-right:25%;
    display: table;
}*/

.frame img {
    height: autp;
    width: 320px;
}

#bottom-left .row {
    display: table-row;
}

#bottom-left .row .cell {
    display: table-cell;
}

.frame {
    margin: 0 auto;
    float: left;
    width: 350px;
}

